<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.rover.dao.StudentMapper">

<!--    <resultMap id="student" type="org.rover.model.Student">-->

<!--    </resultMap>-->

    <select id="getStudentById" resultType="org.rover.model.Student">
        SELECT *
        FROM APPLICATION_SCHEMA.Student
    </select>

</mapper>
